@charset "utf-8";

#alert_info {
	z-index: 1999;
	position: absolute;
	width: 100%;
	height: 2.6em;
	top: 50%;
	margin-top: -1.3em;
	text-align: center;
}
#alert_info .bg {
	margin: auto auto;
	min-width: 8em;
	border-radius: 0.5em;
	background: rgba(0,0,0,.7);
	padding: .75em;
	color: #fff;
	font-size: 1em;
}