input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #d2d2d2;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #d2d2d2;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #d2d2d2;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #d2d2d2;
}
body{
    background: #f9f9f9;
}
.p12{
    padding:12px;
}
/*按钮*/
.btn{
    display: inline-block;
    padding:5px 10px;
    border-radius:6px;
    text-align: center;
    background: #cfba93;
    font-size:12px;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.btn,
.btn:visited,
.btn:hover,
.btn:active{
    color: #fff;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #fff;
    background-color: #b8a27a;
    border-color: #a18c66;
}
.btn_big{
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:10px;
    font-size:18px;
}

/*页面 块*/
.con_box{
    margin-bottom:12px;
    padding:12px;
    width:100%;
    box-sizing:border-box;
    border-radius: 10px;
    background: #fff;
}
/*列表*/
.me_list{
    padding-top:0;
    padding-bottom:0;
    font-size:16px;
    color: #333;
}
.me_list li{
    position: relative;
    padding-left:57px;
    border-bottom:1px solid #e3e3e3;
    list-style: none;
    line-height:43px;
}
.me_list li.me_li_spend{
    background: url("../img/spend_icon.png") no-repeat 12px 20px;
}
.me_list li.me_li_money{
    background: url("../img/money_icon.png") no-repeat 12px 20px;
}
.me_list li.me_li_me{
    background: url("../img/me_icon.png") no-repeat 12px 20px;
}
.me_list li:after{
    position: absolute;
    right:12px;
    top:23px;
    display: block;
    width:15px;
    height:15px;
    content: "";
    border-right:1px solid #999;
    border-bottom:1px solid #999;
    transform: rotate(-45deg);
}
.me_list li:last-child{
    border-bottom:none;
}
/*遮罩层*/
.mask_layer{
    display: none;
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:999;
    background: rgba(0,0,0,0.5);
}
/*分享*/
.share_tips{
    width:100%;
    height:100%;
    background: url("../img/share_bg.png") no-repeat;
    background-size:100%;
}
/* 表格 */
.statistical{
    border: 2px solid #cfba93;
    border-radius: 15px;
    background: #fff;
    overflow: hidden;
}
.statistical .table>tbody>tr>td, 
.statistical .table>tbody>tr>th, 
.statistical .table>tfoot>tr>td, 
.statistical .table>tfoot>tr>th, 
.statistical .table>thead>tr>td, 
.statistical .table>thead>tr>th{
    border-top: none;
    text-align: center;
}
.statistical .table>tbody>tr>td{
    font-size: 12px;
    color: #666;
}
.statistical .table-striped>tbody>tr>th{
    border-right: 1px solid #cfba93;
    border-bottom: 2px solid #cfba93;
    background: #e3e3e3;
    color: #666;
    font-weight: normal;
}
.statistical .table-striped>tbody>tr>th:last-child{
    border-right: none;
}
.statistical .table{
    margin: 0;
}
.weui-picker__action{
    color: #cfba93;
}